<p>
Hello <%=@order.name%>, 
  
Thank you for your recent order from The Book-Z online bookstore. Follwoing items will be ship order will be shipped to <%=@order.address%>.

  Order Details-
  <%=@order.line_items%>

Regards,
  Bookz Online Store
</p>
