<h1>Current Users</h1><br>
<p id="notice"><%= notice %></p>

<table class='table table-striped'>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= link_to 'Actions', edit_user_path(user) %></td>
  </tr>
  
  <% end %>
  <%= link_to '', new_user_path , class:'btn btn-floating glyphicon glyphicon-plus'%>
</table><br />
