<h1>Your Shopping Cart</h1>
<%= render cart.line_items %>
<h3> Total: <%= number_to_currency cart.total_price if cart.total_price %><h3>

  <div class="btn-group" role="group">
    <%= button_to "Empty Cart", @cart, method: :delete, data: { confirm: 'Are you sure?'}, class:"btn btn-sm btn-warning" %>
  </div>
  <div class="btn-group" role="group">
    <%= button_to "Checkout", new_order_url, method: :get, class:"btn btn-sm btn-success" %>   
  </div>
