<table>
  <%= render cart.line_items %>
  <tr class="total_line">
    <td colspan="2">Total </td>
    <td class="total_cell"><%= number_to_currency cart.total_price if cart.total_price %></td>
  </tr>
</table>
<div class="btn-group">
  <%= button_to "Checkout", new_order_url, method: :get, class:"btn btn-sm btn-default" %> 
  <%= button_to "Empty Cart", @cart, method: :delete, data: { confirm: 'Are you sure?'}, class:"btn btn-sm btn-default" %>
</div>