/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Layout styles for main page */
#banner {
  background: #2c3e50;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #ecf0f1;
  text-align: center;
  box-shadow: inset -2px -3px 3px 0px rgba(50, 50, 50, 0.75);
}

#banner img {
  float: left;
}
#columns {
  background: #bdc3c7;
}
#main {
  margin-left: 18em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}
#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 18em;
  padding-right: 20px;
  background: #bdc3c7;
}
#side a {
  color: #2c3e50;
  font-size: small;
}

.nav-stacked li{
  border: 2px solid #ecf0f1;
  font-weight:bold;
  font-size: 15px;
  text-align:center;
  border-radius:15px;
}

/*catalog*/
.panel-info{
  background-color:#F0FFFF;
  border-radius:15px;
}
.panel-info h3{
  text-align: center; 
  font-weight:bold;
}

.panel-info img{
  float:left;
  padding-left: 20px;
  width: 100px;
  height: 100px;
}

.panel-info p{
  float:right;
}

.panel-info .btn{
  float:left;
  clear:both;
}

.soc {
    overflow:hidden;
    margin-left:10px; 
    padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}


.soc li a {
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    
    display:block;
    position: relative;
    z-index: 1;
    width: 34px;
    height: 38px;
    line-height: 38px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    margin-right: 10px;

}

.soc a:hover {
    z-index: 2;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.soc-icon-last{
    margin:0 !important;
}

.pull-right{
  margin-right:7%;
}

.depot_form{
  margin-right:2%;
}

.depot_form div {
  margin: 0.5em 0;
  margin-right:3%;
}