// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list_line_odd{
  background-color: #bdc3c7;
}

#post{
  margin: 0 auto;
   background-color: whitesmoke;
}

.box {
  min-width: 300px;
	margin: 5px;
	width: 24%;	
  border-radiuse: 25px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);  
  border-top: 2px solid #2c3e50;
  background:white;  
}


