// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#store .entry form, #store .entry form div{
  display: inline;  
}

/* Styles for the cart in the sidebar */
#cart, #cart table {
  font-size: smaller;
  color: white;
}
#cart table {
  margin-bottom: 10px;
}

.locale {
  float:right;
  padding-top: 0.2em
}