// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-nav-btn li {
  border-left: 4px solid white;
  border-radius: 50px;
  &:hover{
   border-left: 7px solid white;
  }
}

#store .entry form, #store .entry form div{
  display: inline;  
}

/* Styles for the cart in the sidebar */
#cart, #cart table {
  font-size: smaller;
  color: white;
}
#cart table {
  margin-bottom: 10px;
}

.locale {
  float:right;
  padding-top: 0.2em
}

// alerts 
.alert-box {
    color:#555;
    border-radius:10px;
    font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
    right: 80%;
    width: 300px;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.error {
    background:#ffecec url('images/error.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;
}
.success {
    background:#e9ffd9 url('images/success.png') no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}
.warning {
    background:#fff8c4 url('images/warning.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
}
.notice {
    background:#e3f7fc url('images/notice.png') no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}