<% if line_item == @current_item %>
    <tr id="current_item">
  <% else %>
    <tr>
<% end %>
      <ul class="list-group">
<%unless line_item.nil?%>
        <li class="list-group-item" style='color:black;'><%=Product.find(line_item.product_id).title %> <%=line_item.quantity %>x <%= number_to_currency(line_item.total_price) unless line_item.nil?%></li>
</ul>   
<%end%>      

</tr>