<% if line_item == @current_item %>
    <tr id="current_item">
  <% else %>
    <tr>
<% end %>
<%unless line_item.nil?%>
  <td><%= line_item.quantity%>&times;</td>
      <td><%= line_item.product.title if defined? line_item.title %></td>
      <td class="item_price"><%= number_to_currency(line_item.total_price) unless line_item.nil?%></td>
<%end%>
</tr>